/*  ------------------------FONTS AND COLOR----------------------------------- */

/* Poiret One 400: font-family: 'Poiret One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


/* Roboto Mono 100 to 700, regular, medium and bold all with italic: font-family: 'Roboto Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');


/* Inconsolata 100 to 900, regular, medium, bold, extra bold and black all with italic: font-family: 'Inconsolata', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

/* ----------------------------GLOBAL------------------------------------------- */

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    font-size: 12px;

    /* fonts var */
    --fnt-title: 'Poiret One', cursive;
    --fnt-sub: 'Roboto Mono', monospace;
    --fnt-p: 'Inconsolata', monospace;

    --fnt-size-title: 4rem;
    --fnt-size-big: 3rem;
    --fnt-size-med: 2rem;
    --fnt-size-smll: 1.5rem;
    --fnt-size-ltl: 1rem;

    /* Colors */
    --clr-dark-1: #131313;
    --clr-dark-2: #212121;
    --clr-bright-1: #FFFFFF;
    --clr-bright-2: #FFC200;
    --clr-bright-3: #4200FF;
    --clr-bright-4: #900917;

    /* Spaccing Variables */
    --size-big: 4rem;
    --size-med: 3rem;
    --size-smll: 1.5rem;
    --size-ltl: 0.8rem;

    /* Border variables */
    --brd-big: 20px;
    --brd-med: 15px;
    --brd-smll: 6px;
}
body {
    margin: 0;
    padding: 0;
    /* background-color: var(--clr-dark-1); */
}
html {
    scroll-behavior: smooth;
}
/* ---------------------------------HEADER----------------------------------- */

#header {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;

    background-color: var(--clr-dark-1);
    position: fixed;
    width: 100vw;
    height: 8vh;
    font-family: var(--fnt-title);
    color: var(--clr-bright-1);

    z-index: 1;
}

/* ---NAV--- */

#nav-bar {
    grid-column: 1 / 2;
    justify-self: start;
    padding: var(--size-ltl);
}
#nav-list {
    list-style: none;
    margin: 0;
    color: var(--clr-bright-1);
}
.nav-item {
    display: inline-block;
    margin: 0 5px;
    font-size: 16px;
    color: var(--clr-bright-1);
}
.nav-link {
    text-decoration: none;
    color: var(--clr-bright-1);
}
.nav-link:visited {
    color: var(--clr-bright-1);
}

/* ---LOGO--- */

.logo {
    grid-column: 2 / 3;
    justify-self: center;
}
#header-img {
    height: 7vmin;
}

/* ---REDES--- */

.redes {
    grid-column: 3 / 4;
    justify-self: end;
    margin-right: 30px;
}
.img-redes {
    width: 30px;
    margin: 5px;
}


/* ----------------------------------MAIN------------------------------------ */

#main {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-rows: 98vh 90vh 90vh 98vh 70vh 70vh;
    z-index: -1;
    
}

/* ---INTRO--- */

.intro {
    grid-row: 1 / 2;

    display: grid;
    grid-template: repeat(5, 20vh) / repeat(10, 10vw);
    margin-top: 8vh;
    grid-template-areas: 
        ". . . . . . . . . ."
        ". . t t t t t t . ."
        ". . t t t t t t . ."
        ". . . b b b b . . ."
        ". . . . . . . . . ."
    ;
    align-items: center;
    justify-items: center;

    background-image: linear-gradient(rgba(21, 21, 21, 0.2), rgba(21, 21, 21, 0.2)), url(fotos/fotos/learning.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.intro-text {
    grid-area: t;
    color: var(--clr-bright-1)
}

.intro-frase {
    text-align: center;
}
.intro-title {
    font-family: var(--fnt-sub);
    font-size: var(--fnt-size-title);
    font-weight: 500;
    width: 70%;
    margin: 0 15%;
}
.intro-info {
    --fnt-size-smll: 1.8rem;


    font-size: var(--fnt-size-smll);
    font-family: var(--fnt-p);
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0.03rem;
}

.intro-btn {
    align-self: start;
    grid-area: b;

    padding: 10px 20px;
    font-family: var(--fnt-sub);
    font-size: var(--fnt-size-smll);
    letter-spacing: 0.2rem;
    color: var(--clr-dark-1);
    background-color: var(--clr-bright-2);
    opacity: 0.95;
    
    border-radius: var(--brd-smll);
    border: none;

    box-shadow: 4px 4px 4px rgba(21, 21, 21, 0.2);
    cursor: pointer;
}



/* ---FIRST--- */
.first {
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 50vw 50vw;
}
.first-img {
    grid-column: 1 / 2;
    background-image: linear-gradient(rgba(21, 21, 21, 0.2), rgba(21, 21, 21, 0.2)), url(fotos/fotos/confortable.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.first-info {
    grid-column: 2 / -1;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: var(--clr-dark-2);
    color: var(--clr-bright-1);

}
.first-text {
    margin: 5% 8% 0 8%;
    list-style: none;
    padding: 0;
}
.first-list {
    margin: 0 8% 0 8%;
}

.first-title {
    font-size: var(--fnt-size-title);
    font-family: var(--fnt-sub);
    font-weight: 500;
    letter-spacing: 0.03rem;
}

.first-item {
    font-family: var(--fnt-p);
    font-size: var(--fnt-size-smll);
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03rem;
    
    margin: 40px 0;
}
.first-btn {
    align-self: center;

    font-family: var(--fnt-sub);
    font-size: var(--fnt-size-smll);
    letter-spacing: 0.2rem;
    font-weight: 100;
    color: var(--clr-bright-1);
    background-color: var(--clr-bright-4);

    border-radius: var(--brd-smll);
    border: none;
    box-shadow: 4px 4px 4px rgba(21, 21, 21, 0.2);
    cursor: pointer;

    padding: 10px 20px;
    margin: 5% 0;
}

/* ---SECOND--- */

.second {
    grid-row: 3 / 4;

    display: grid;
    grid-template-columns: 50vw 50vw;
}

.second-info {
    grid-column: 1 / 2;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    background-color: var(--clr-bright-1);
    color: var(--clr-dark-2);
}
.second-img {
    grid-column: 2 / -1;

    background-image: linear-gradient(rgba(21, 21, 21, 0.2), rgba(21, 21, 21, 0.2)), url(fotos/fotos/cowork.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.second-text {
    margin: 5% 8% 0 8%;
    list-style: none;
    padding: 0;
}


.second-title {
    font-size: var(--fnt-size-title);
    font-family: var(--fnt-sub);
    font-weight: 500;
    letter-spacing: 0.03rem;
}

.second-list {
    margin: 0 8% 0 8%;
}

.second-item {
    font-family: var(--fnt-p);
    font-size: var(--fnt-size-smll);
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.03rem;
    
    margin: 40px 0;
}

.second-btn {
    align-self: center;

    font-family: var(--fnt-sub);
    font-size: var(--fnt-size-smll);
    letter-spacing: 0.2rem;
    font-weight: 100;
    color: var(--clr-bright-1);
    background-color: var(--clr-bright-3);

    border-radius: var(--brd-smll);
    border: none;
    box-shadow: 4px 4px 4px rgba(21, 21, 21, 0.2);
    cursor: pointer;

    padding: 10px 20px;
    margin: 5% 0;
}

/* ---MEDIA--- */

.media {
    grid-row: 4 / 5;

    width: 100%;
    background-color: var(--clr-dark-2);
    display: flex;
    align-items: center;
    justify-content: center;
}
#video {
    width: 70%;
    height: 80%;
}

/* ---TARJETA--- */

.tarjeta-box {
    grid-row: 5 / 6;

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
/*     grid-template: repeat(5, 20%) / repeat(10, 10vw);
    grid-template-areas: 
        ". . . . . . . . . ."
        ". a a . b b . c c ."
        ". a a . b b . c c ."
        ". a a . b b . c c ."
        ". . . . . . . . . ."
    ; */
    background-color: var(--clr-dark-2);    
}
.tarjeta {
    background-color: var(--clr-bright-1);
    width: 25%;
    height: 70%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    text-align: center;
    font-family: var(--fnt-p);

    border-radius: var(--brd-smll);
    border: 3px solid var(--clr-bright-3);
}

.titulo-tarjeta {
    width: 100%;
    margin-top: 0;
    padding: 10px;
    background-color: var(--clr-bright-3);
    color: var(--clr-bright-1);

    font-size: var(--fnt-size-med);
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.03rem;
}

.tarjeta-info {
    font-size: var(--fnt-size-smll);
    margin: 0 20px;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.tarjeta-subtitulo {
    font-size: var(--size-smll);
    font-weight: bold;
    margin: 0;
}

.tarjeta-descripcion {
    margin: 0;
}

.tarjeta-precio {
    font-size: var(--size-smll);
    font-weight: bold;
    margin: 0;
}

.tarjeta-btn {
    width: 100%;
    margin-top: 0;
    padding: 10px;
    background-color: var(--clr-bright-3);
    color: var(--clr-bright-1);

    font-family: var(--fnt-p);
    font-size: var(--fnt-size-smll);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.03rem;
    border: none;

}



/* ---FORMULARIO--- */
.formulario {
    grid-row: 6 / 7;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-dark-2);
}
 #form {
    height: auto;
    width: 40%;
    border-radius: var(--brd-smll);
    border:3px solid var(--clr-bright-3);
    background-color: var(--clr-bright-1);
    color: var(--clr-dark-2);

 }
.form-title {
    text-align: center;
    font-size: var(--fnt-size-med);
    font-family: var(--fnt-title);
    
}
.form-element {
     width: 90%;
     margin: 5px 5%;
     display: inline-block;
 }
.form-input {
    border: 2px solid var(--clr-bright-3);
    padding: 5px;
}
.form-label {
    font-family: var(--fnt-title);
    font-size: var(--size-smll);
    font-weight: bold;
}
 #info {
     width: 90%;
     min-width: 90%;
     max-width: 90%;
     height: 70px;
     min-height: 70px;
     max-height: 100px;
     border: 2px solid var(--clr-bright-3);
 }
 #submit {
     width: 90%;
     background-color: var(--clr-bright-3);
     color: var(--clr-bright-1);
     border-radius: var(--brd-smll);
     border: none;
     padding: 10px 20px;
     margin: 20px 5% 10px 5%;
 }

 /* -------------------MEDIA QUERYS-------------------- */

 /* ---------------TABLET----------------- */

 @media screen and (max-width: 1024px) and (min-width: 601px) {
     /* -----------GLOBAL TABLET-------- */
    :root {
            /* fonts var */

    --fnt-size-title: 4rem;
    --fnt-size-big: 2rem;
    --fnt-size-med: 1.75rem;
    --fnt-size-smll: 1.5rem;
    --fnt-size-ltl: 1rem;

    }

/* -----------HEADER TABLET-------- */
    

/* ----------MAIN TABLET----------- */
    #main {
        grid-template-rows: 98vh 50vh 50vh 50vh 70vh 70vh;
    }

          /* ---INTRO--- */
    .intro {
        grid-template-areas: 
        ". . . . . . . . . ."
        ". t t t t t t t t ."
        ". t t t t t t t t ."
        ". . . b b b b . . ."
        ". . . . . . . . . ."
    ;
    }

    /* ---FIRST--- */
    .first-item {
        font-size: var(--fnt-size-smll);
    }
    .first-title {
        font-size: var(--fnt-size-big);
    }
    
    /* ---SECOND--- */

    .second-item {
        font-size: var(--fnt-size-smll);
    }
    .second-title {
        font-size: var(--fnt-size-big);
    }
    .second-btn {
        padding: 8px 15px;
    }

    /* ---MEDIA--- */

    /* ---TARJETA--- */

    .tarjeta-box {
        display: grid;
        grid-template:  12vh repeat(3, 15vh) 12vh / 1fr repeat(3, 28vw) 1fr;
        grid-template-areas: 
        ". . . . ."
        ". a b c ."
        ". a b c ."
        ". a b c ."
        ". . . . ."
    ;
    grid-column-gap: 3vw;
    justify-content: center;
    }
    .tarjeta {
        height: 100%;
        width: 100%;
    }
    .tarjeta-1 {
        grid-area: a;
    }

    .tarjeta-2 {
        grid-area: b;
    }

    .tarjeta-3 {
        grid-area: c;
    }

    /* ---FORMULARIO--- */
    #form {
        width: 50%;
        height: auto;
    }


 /* ----------FOOTER TABLET--------- */

 }
/* -----------------PHONE----------------- */

@media screen and (max-width: 600px) {
     /* -----------GLOBAL PHONE-------- */
     :root {
        /* fonts var */

--fnt-size-title: 3rem;
--fnt-size-big: 1.8rem;
--fnt-size-med: 1.5rem;
--fnt-size-smll: 1.3rem;
--fnt-size-ltl: 0.8rem;

}

/* -----------HEADER PHONE-------- */
/*---NAV PHONE--- */
#nav-bar {
    grid-column: 1 / 3;
    padding: 10px;
}
#nav-list {
    padding: 0;
}

/* ---LOGO PHONE--- */
.logo {
    grid-column: 3 / -1;
    margin-right: 20px;
}

/* ---REDES PHONE--- */
.redes  {
    display: none;
}
/* ----------MAIN PHONE----------- */
#main {
    grid-template-rows: 98vh 50vh 50vh 50vh 130vh 100vh;
}

/* ---INTRO PHONE--- */
.intro {
    grid-template-areas: 
    ". . . . . . . . . ."
    ". t t t t t t t t ."
    ". t t t t t t t t ."
    ". . . b b b b . . ."
    ". . . . . . . . . ."
;
}

/* ---FIRST PHONE--- */
.first-info {
    grid-column: 1 / -1;
    background-image: linear-gradient(rgba(21, 21, 21, 0.7), rgba(21, 21, 21, 0.7)), url(fotos/fotos/confortable.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.first-img {
    display: none;
}
.first-item {
    font-size: var(--fnt-size-smll);
}
.first-title {
    font-size: var(--fnt-size-big);
}
.first-item {
    margin: 15px 0;
}
.first-btn {
    padding: 8px 15px;
}


/* ---SECOND PHONE--- */
.second-info {
    grid-column: 1 / -1;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(fotos/fotos/cowork.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.second-img {
    display: none;
}
.second-item {
    font-size: var(--fnt-size-smll);
    margin: 15px 0;
}
.second-title {
    font-size: var(--fnt-size-big);
}
.second-btn {
    padding: 8px 15px;
}


/* ---MEDIA PHONE--- */
#video {
    width: 80%;
    height: auto;
}

/* ---TARJETA PHONE--- */

.tarjeta-box {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.tarjeta {
    height: 30%;
    width: 60%;
}
.tarjeta-1 {
    grid-area: a;
}

.tarjeta-2 {
    grid-area: b;
}

.tarjeta-3 {
    grid-area: c;
}

/* ---FORMULARIO PHONE--- */
#form {
    width: 80%;
    height: auto;
}


/* ----------FOOTER PHONE--------- */

 }